.intro__lists {
  margin: 33px 0 92px 0;
  padding: 0;
  max-width: 70%;
  list-style-type: none;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

@media screen and (max-width:768px) {
.intro__lists { 
  margin: 33px 0 88px 0;
}
}

@media screen and (max-width:460px) {
.intro__lists { 
  min-width: 280px;
  max-width: 288px;
  margin: 33px 0 64px 0;
}
}