.place__content {
  display: flex;
  max-width: 100%;
}

@media screen and (max-width:660px) {
.place__content { 
  flex-direction: column;
  margin: 0 auto;
}
}

@media screen and (max-width:340px) {
.place__content { 
   max-width: 320px;
}
}