.cover__background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  background: url(../../../images/cover/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 740px;
  box-sizing: border-box;
  z-index: 0;
  position: relative;
  margin-top: 92px;
}
.cover__background::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
  transition: opacity .2s; 
  min-width: 100%;
}

.cover__background:hover::before {
  opacity: .6;
}

@media screen and (max-width:1024px) {
.cover__background { 
  min-height: 640px;
}
}

@media screen and (max-width:768px) {
.cover__background {  
  min-height: 480px;
}
}

@media screen and (max-width:610px) {
.cover__background {  
  min-height: 360px;
}
}

@media screen and (max-width:550px) {
.cover__background {  
  min-height: 320px;
  margin-top: 66px;
}
}

@media screen and (max-width:340px) {
.cover__background {  
  min-height: 200px;
}
}