.lead__caption {
  display: flex;
  margin: 8px 0 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  min-width: 100%;
}

@media screen and (max-width:1024px) {
.lead__caption { 
  max-width: 100%;
}
}

@media screen and (max-width:768px) {
.lead__caption { 
   margin-left: 24px;
   min-width: 50%;
}
}

@media screen and (max-width:460px) {
.lead__caption { 
   margin-left: 16px;
   width: 100px;
}
}