.lead__caption {
  display: flex;
  margin: 8px 0 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  min-width: 100%;
}

@media screen and (max-width:1024px) {
.lead__caption {
  text-align: left;
}
}

@media screen and (max-width:768px) {
.lead__caption {
  min-width: 94%;
}
}

@media screen and (max-width:460px) {
.lead__caption {
   max-width: 460px;
}
}

@media screen and (max-width:360px) {
.lead__caption {
  max-width: 288px;
  min-width: 288px;
}
}