.place {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: 0  auto;
  color: white;
  background: #2A2C2F;
}

@media screen and (max-width:1024px) {
.place { 
  max-width: 928px;
}
}

@media screen and (max-width:880px) {
.place { 
  max-width: 840px;
}
}

@media screen and (max-width:768px) {
.place { 
  max-width: 720px;
}
}

@media screen and (max-width:620px) {
.place { 
  max-width: 100%;
}
}