.place {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: 0  auto;
  color: white;
  background: #2A2C2F;
}

@media screen and (max-width:1024px) {
.place { 
  max-width: 928px;
}
}

@media screen and (max-width:1000px) {
.place { 
  max-width: 100%;
  padding: 0 48px;
}
}

@media screen and (max-width:840px) {
.place { 
padding: 0 24px;
}
}

@media screen and (max-width:630px) {
.place { 
  padding: 0;
}
}

