.place__website {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin:0 0 48px 0;
  min-width: 44%;
}


@media screen and (max-width:880px) {
.place__website {
  min-width: 400px;
}
}

@media screen and (max-width:768px) {
.place__website {
  min-width: 44%;
}
}


@media screen and (max-width:630px) {
.place__website { 
  min-width: 96%;
  margin-left:0;
}
}

@media screen and (max-width:340px) {
.place__website { 
  margin:32px 0;
  min-width: 288px;
}
}