.place__website {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin:0 0 48px 0;
  min-width: 44%;
}

@media screen and (max-width:1000px) {
.place__website {
  min-width: 30%;
}
}

@media screen and (max-width:768px) {
.place__website {
  min-width: 35%;
}
}

@media screen and (max-width:660px) {
.place__website { 
  max-width: 390px;
  min-width: 390px;
  margin: 32px 0;
  align-self: center;
}
}

@media screen and (max-width:430px) {
.place__website {
  min-width: 100%;
}
}

@media screen and (max-width:340px) {
.place__website { 
  min-width: 288px;
}
}